.container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    text-decoration: none;
}
.card{
    border: 1px solid #ffffff;
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    margin: 1rem;
    backdrop-filter: blur(10px);
}

.hname{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.datos{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.ag{
    width: 180px;
}
.ico{
    width: 30px;
    align-items: center;
}
